{% extends 'books/base.html' %}
{% block head %}
    <meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>TeraShare</title>
		<meta name="description" content="Animated Opening Type: Animated letters with pseudo-elements" />
		<meta name="keywords" content="pseudo-elements, letters, css, animated, transition, opening, cut-out, inspiration" />
		<meta name="author" content="Codrops" />
		<link rel="shortcut icon" href="../favicon.ico">
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'others/normalize.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'others/demo.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'others/component.css' %}" />
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'others/index.css' %}" />
<script src="{% static 'others/modernizr.custom.js' %}"></script>
<style>
			.codrops-header
			{
				height: 252px !important;
			}
			#codrops-header-top
			{
				height: 252px !important;
				background-color: #E64D3D;
				color: #222222 !important;
			}
			#codrops-header-top h1
			{

				color: #222222 !important;
			}

		</style>
{% endblock %}
{% block body %}
<div class="container-fluid">
			<div class="component">
				<ul class="grid">

					<li class="ot-letter-left"><span data-letter="N">N</span></li>
					<li class="ot-letter-top"><span data-letter="O">O</span></li>
					<li class="ot-letter-right"><span data-letter="T">T</span></li>
					<li class="ot-letter-bottom"><span data-letter="E">E</span></li>
					<li class="ot-letter-right"><span data-letter="S">S</span></li>
					<li><div id="codrops-header-top" class="codrops-header"><h1>IITGN's content sharing portal</h1></div></li>
					<li><div class="codrops-header"><h1>Lost it in Google Drive?</h1></div></li>
					<li class="ot-letter-left"><span data-letter="Q">Q</span></li>
					<li class="ot-letter-top"><span data-letter="U">U</span></li>
					<li class="ot-letter-right"><span data-letter="I">I </span></li>
					<li class="ot-letter-left"><span data-letter="Z">Z</span></li>
					<li><div class="codrops-header"><h1>Get ALL material in one place!</h1></div></li>
					<li class="ot-letter-left"><span data-letter="E">E</span></li>
					<li class="ot-letter-top"><span data-letter="B">B</span></li>
					<li class="ot-letter-right"><span data-letter="O">O</span></li>
					<li class="ot-letter-bottom"><span data-letter="O">O</span></li>
					<li class="ot-letter-right"><span data-letter="K">K</span></li>
					<li class="ot-letter-bottom"><span data-letter="S">S</span></li>
					<li><div class="codrops-header"><h1>Academic material all scattered?</h1></div></li>
					<li class="ot-letter-left"><span data-letter="T">T</span></li>
					<li class="ot-letter-top"><span data-letter="U">U</span></li>
					<li class="ot-letter-right"><span data-letter="T">T</span></li>
					<li class="ot-letter-left"><span data-letter="S">S</span></li>
					<li><div class="codrops-header"><h1>Not getting required files?</h1></div></li>

				</ul>
			</div>
		</div>
{% endblock %}